set nocompatible
set noswapfile
colorscheme koehler
set nu
set encoding=utf-8
set fileencoding=utf-8
set fileencodings=utf-8,ucs-bom,latin1,ucs-2
let &termencoding = &encoding
set shiftwidth=2
set tabstop=2
set expandtab
set autoindent
set hlsearch
set incsearch
set smartcase
set ignorecase
set showcmd
set backspace=indent,eol,start
" setg autochdir
set linebreak
syntax on